{% extends "layouts/base.html" %} 
{% load i18n %} 
{% block title %} 
{% trans 'Create Quotation'%}
{% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="container-fluid">
      {% comment %} <h4 class="c-grey-900 mT-10 mB-30">Student Management </h4> {% endcomment %}
      <div class="row">
        <div class="col-md-12">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
    <div id="mainContent">
      <div class="container">
        <div style="align-items: center; ">
          <h3 class="c-grey-900 mB-20" style="text-align: center">
            {% trans 'Create Quotation'%}
          </h3>
        </div>
        <div>
          <div class="text-center 2px">
            <label><h5>{% trans 'Product List'%}</h5></label>
          </div>
  
          <table id="dataTable" class="table"
            cellspacing="0"
            width="100%"
          >
            <thead style="text-align: center;">
              <th>{% trans 'Product No' %}</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'English Name' %}</th>
              <th>{% trans 'Supplier Product Name' %}</th>
              <th>{% trans 'Current Quantity' %}</th>
              <th>{% trans 'Safety Quantity' %}</th>
              <th>{% trans 'Recommended Purchase Quantity' %}</th>
              <th>{% trans 'Supplier Name' %}</th>
              <th>{% trans 'Supplier Code'%}</th>
              <th>{% trans 'Add' %}</th>
            </thead>
            <tbody class="">
              {% for inventory in products %}
              <tr>
                <td>{{ inventory.product.product_id }}</td>
                <td>{{ inventory.product.product_chinese_name }}</td>
                <td>{{ inventory.product.product_english_name }}</td>
                <td>{{ inventory.product.supplier_product_name }}</td>
                <td>{{ inventory.current_quantity }}</td>
                <td>{{ inventory.safety_quantity }}</td>
                <td>{{ inventory.recommended_purchase_quantity }}</td>
                <td>{{inventory.product.supplier.name}}</td>
                <td>{{inventory.product.supplier.code}}</td>
                <td><button
                    onclick="addToProductList('{{inventory.product.id}}', '{{ inventory.product.product_id }}', '{{inventory.product.product_chinese_name}}', 
                    '{{inventory.recommended_purchase_quantity}}')"
                    class="btn btn-primary btn-sm"><i class="ti-plus" style="color: white;"></i></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
  
          <div class="text-center mb-3 mt-10">
            <label><h5>{% trans 'Purchase Order List'%}</h5></label>
          </div>
  
          <table class="table"
          cellspacing="0"
          width="100%"
        >
            <thead class=" border-bottom-2 border-dark">
              <th>{% trans 'Product No'%}</th>
              <th>{% trans 'Product Name'%}</th>
              <th>{% trans 'Quantity'%}</th>
              <th>{% trans 'Action'%}</th>
            </thead>
            <tbody style="text-align: center;" id="orderList"></tbody>
          </table>
          <!-- <div class="mb-3 mt-3" style="display: flex;">
            <button style="margin: 3px;" type="button" class="btn btn-success btn-sm" onclick="createOrderList()"><i style="color: white;" class="ti-check"></i></button>
          </div> -->
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="productDetails" id="orderDetailsInput" value="" />
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-send " style="color: white;" >{% trans 'Submit'%}</button>
            </div>
        </form>
       <div>
    </div>
</main>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>


    var ids = 0;
    var productDetails = [];
    var total_product_cost = 0;
    var total_cost = 0;
  
    function addToProductList(productId, productNo, ProductName, quantity) {
  
      var existingRow = document.getElementById(`${productId}_row`);
      if (existingRow) {
        alert("Product is already in the order list.");
        return;
      }
  
      var orderList = document.getElementById("orderList");
      orderList.insertAdjacentHTML(
            "beforeend",
            `<tr id="${productId}_row">
            <td>${productNo}</td>
            <td>${ProductName}</td>
            <td id="${productId}_quantity_div" style="width: 10%;"><input class="form-control" type="text" size="5" value=${quantity} id="${productId}_quantity"/></td>
            <td>
              <div class="display: flex; justify-content: space-evenly;">
                <button type="button" class="btn btn-danger btn-sm" onclick=deleteProduct('${productId}')>
                  <i class="ti-trash" style="color: white;"></i>
                </button>
                <button style="margin: 3px;" id="${productId}_confirmproduct" type="button" class="btn btn-success btn-sm" onclick="createOrderList( '${productId}')">
                  <i style="color: white;" class="ti-check"></i>
                </button>
              </div>
            </td>
            </tr>`
          );
        
    }
  
    function createOrderList(productId) {
      quantity = parseFloat(document.getElementById(`${productId}_quantity`).value);
  
      var quantity_div = document.getElementById(productId + "_quantity_div");
      quantity_div.innerHTML = '';
      quantity_div.insertAdjacentHTML('beforeend', `<label>${quantity}</label>`);
  
      var details = {
        product_id: productId,
        recommended_purchase_quantity: quantity,
      };
  
      productDetails.push(details);
      document.getElementById(productId + "_confirmproduct").disabled = true;
  
      
    }
  
    function deleteProduct(product_id) {
      // Find the product to be deleted
      const deletedProduct = productDetails.find((product) => product.product_id === product_id);
  
      
      if (deletedProduct) {
        // Subtract the subtotalCost of the deleted product from total_product_cost
        total_product_cost -= deletedProduct.total_cost;
  
        // Remove the product from the productDetails array
        productDetails = productDetails.filter((product) => product.product_id !== product_id);
  
      }
  
      
      var row = document.getElementById(product_id + "_row");
      row.parentNode.removeChild(row);
    }
  
    document.querySelector('form').addEventListener('submit', function(event) {
      // Prevent the form from submitting by default
      event.preventDefault();
  
      // Check if productDetails is empty
      if (productDetails.length === 0) {
        // Show an alert or any other validation message
        alert('Please add at least one product to the order list.');
        return;
      }
  
      document.getElementById('orderDetailsInput').value = JSON.stringify(productDetails);
      // If productDetails is not empty, proceed with form submission
      this.submit();
    });
  
    $(document).ready(function () {
      $('#dataTable2').DataTable({
        "scrollX": true
        // Add other DataTables options as needed
      });
    });
  
  </script>
{% endblock javascripts %}